<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.laurin06060_may2020.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Pico Walks</name>

  <description>
      My first Online Game with Pico from Laurin0606!
  </description>

  <author href="https://www.laurin0606.com" email="support@0606.com">
      Laurin 0606
  </author>

	<icon src="icon.png" />

</widget>

